* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #F3ECEA !important;
}


.container {
    border: #000000;
    margin-top: 800px;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 15px;
    padding-top: 100px;
    font-family: Arial, sans-serif;
}

.image-text-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    background: #9dbdf1 ;
    padding: 20px;
    border-radius: 8px;
}

img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}
.container h1{
    padding-bottom: 5px;
}
.text-content {
    flex: 1;
    color: #000000;
}

@media (max-width: 768px) {
    .image-text-wrapper {
        flex-direction: column;
        text-align: center;
    }

    img {
        max-width: 100%;
    }

    .text-content {
        margin-top: 15px;
    }
}